<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Vue Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
</head>
<body>
    <div id="app-11">
        <div v-html="html"></div>
    </div>
    
    <div id="app-10">
        <p><input v-model="input" type="text"></p>
        <button v-on:click="output">入力文字列を反映</button>
        <p>ボタンを押すと入力値をtext変数に代入：{{text}}</p>
    </div>

    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        {{ message }}
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>

    <div id="app-6">
        <ol>
            <!-- todos 配列にある各 todo に対して todo-item コンポーネントのインスタンスを作成する -->
            <todo-item0></todo-item0>
        </ol>
    </div>
  
    <div id="app-7">
        <ol>
          <!-- 
            各 todo-item の内容を表す todo オブジェクトを与えます。
            これにより内容は動的に変化します。
            また後述する "key" を各コンポーネントに提供する必要があります。
          -->
          <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
    </div>    

    <div id="app-8">
        <input v-model="num" type="number">
        <p>v-modelで指定した変数： {{num}}</p>
        <p>変数に対して2を掛ける： {{num*num}}</p>
    
    </div>    

    <div id="app-9">
        <p>二重中括弧で変数を囲う：{{text}}</p>
        <p>属性で変数を指定する：<span v-text="text"></span></p>  
    </div>

    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>